# Terraform core files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.tfvars
*.tfvars.json
terraform.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Lock file (optional but recommended to keep)
# .terraform.lock.hcl

# SSH keys (VERY IMPORTANT)
*.pem
*.key

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Docker
*.tar
terraform/.terraform.lock.hcl
